{% extends 'donor/donorbase.html' %}
{% block content %}
<br><br>
<div class="container">


  <div class="row">

    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fa fa-user-plus xyz" style="color: #1e88e5;"></i>
          </div><br>
          <div>
            Doações Realizada <br>
            {{donationsmade}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-sync xyz" style="color:#efb000;"></i>
          </div><br>
          <div>
            Doações Pendente <br>
            {{donationspending}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-check-circle xyz" style="color: green;"></i>
          </div><br>
          <div>
            Doações Aprovada<br>
            {{donationsapproved}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-times-circle xyz" style="color: red;"></i>
          </div><br>
          <div>
            Doações Rejeitada <br>
            {{donationsrejected}}
          </div>
        </div>
      </div>
    </div>

  </div>


</div>


{% endblock content %}